body{
    background-color: bisque;
    color: rgb(153, 47, 47);
    background-image:url(background-img.jpg);
    background-attachment: fixed;
}

section{
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 2px solid rgb(244, 226, 145);
    background-color: rgb(251, 241, 229);
}

#logo{
    text-align: center;  
}

img{
    border: 2px solid rgb(244, 226, 145);
}

button{
    background-color: #fff0a5;
    border: 2px solid rgb(244, 226, 145);
    margin: 2px 2px 2px 2px;
  padding: 10px 10px 8px 8px;

}

a{
    color: rgb(228, 148, 45);
}
